.deleteCustomer {
    flex: 4;
  }
  
  .deleteCustomerForm {
    display: flex;
    flex-wrap: wrap;
  }
  
  .deleteCustomerItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .deleteCustomerItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .deleteCustomerItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .deleteCustomerGender > input {
    margin-top: 15px;
  }
  
  .deleteCustomerGender>label{
      margin: 10px;
      font-size: 18px;
      color: #555;
  }
  
  .deleteCustomerSelect{
      height: 40px;
      border-radius: 5px;
  }
  
  .deleteCustomerButton{
    width: 138px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 24px;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 10px;
  }