.newaccount {
    flex: 4;
  }
  
  .newaccountForm {
    display: flex;
    flex-wrap: wrap;
  }
  
  .newaccountItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .newaccountItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .newaccountItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .newaccountGender > input {
    margin-top: 15px;
  }
  
  .newaccountGender>label{
      margin: 10px;
      font-size: 18px;
      color: #555;
  }
  
  .newaccountSelect{
      height: 40px;
      border-radius: 5px;
  }
  
  .newaccountButton{
    width: 150px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 35px;
    margin-left: 8px;
  }